<main>
    <app-header></app-header>
  <br>
  <ngx-loading-bar color="#e74c3c" height="3px" style="background-color: red"></ngx-loading-bar>
  <div class="container">
    <div class="row">
      
      <div class="col-md-3 col-xs-1" id="sidebar" style="margin-bottom: 20px;">
       
        <div class="list-group shadow">
            
          <app-right-menu *ngFor="let item of items"
          [item]="item"
          ></app-right-menu>
        
          
        </div>
    
      </div>
      
      <div class="col-md-9 bg-custom-light shadow" style="margin-bottom: 20px;">
        <section class="article">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>

  </div> <!-- /container -->


</main>
