<!-- {{#categories as | category|}} -->
<a  class="list-group-item" data-toggle="collapse" data-parent="#sidebar" (click)="toggle()">
  <span class="hidden-sm-down" style="">{{item.name}}</span>
  <i class="fa fa-angle-down custom-left-icon"></i>
  <span class="custom-line"></span>
</a>

<div class="{{status}}" id="menu1">  
  <a routerLink="content/{{subject.id}}" *ngFor="let subject of item.subjects" class="list-group-item" data-parent="#menu1">
      {{subject.title}}
    </a>
</div>


